.container{
    background-color:rgb(189, 141, 223);
    width: 25%;
    border: 3px solid;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    
}



