body{
    background-image: url(liquid-purple-art-painting-abstract-colorful-background-with-color-splash-paints-modern-art_1258-97771.avif);
    background-position: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    background-color:rgb(189, 141, 223);
    width: 25%;
    border: 3px solid;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    border-color: white;
    padding: 20px;
    
}





